@layer reset, base, inputs, page, components, utility;

@layer page {
  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    min-width: 15rem;
    background-color: var(--theme-bg1);
  }

  .info {
    font-size: 0.7rem;
    text-align: center;
    color: var(--theme-fg-ink1);
    opacity: 0.7;
  }

  .info.version {
    text-decoration: underline;
    margin-inline: auto;
    cursor: pointer;
    width: fit-content;
  }

  /* button {
    padding: 0.5rem;
    font-family: inherit;
  } */

  .cog {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1ch;
    color: light-dark(#171717, #f7f7f7);
    cursor: pointer;

    &:hover {
      color: var(--theme-fg-accent0);
    }
  }
}
