@layer reset, base, inputs, page, components, utility;

@layer page {
  menu {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    gap: 1rem;
    text-align: end;

    & div {
      cursor: pointer;
    }

    & div:hover {
      color: var(--theme-fg-accent0);
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    padding: 1rem;
    padding-block: 5rem;
    margin-inline: auto;
    width: 60%;
    min-width: 25rem;
    max-width: 1024px;

    .group {
      font-size: 1.2rem;
      color: var(--theme-fg-ink1);

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }

    hr:not(:last-child) {
      width: 100%;
      margin-top: 2rem;
      border: 0;
      border-bottom: 0.25ch dashed var(--theme-fg-grey1);
    }

    >.option {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      height: 2.5rem;

      &:has(button) {
        padding-bottom: 1rem;
      }

      .spacer {
        flex-grow: 1;
      }

      &:hover:not(.instances),
      &:has(+ .description:hover) {
        color: var(--theme-fg-accent0);

        label.checkbox,
        input {
          background-color: var(--theme-bg3);

          &:has(+ input:checked) {
            background-color: var(--theme-fg-accent1);
          }
        }
      }

      label:not(.checkbox) {
        min-width: 16rem;
        user-select: none;
      }

      button {
        min-width: 7rem;

        &.danger {
          outline: 2px solid var(--theme-fg-danger);
        }
      }

      input[type="text"] {
        flex-grow: 1;
      }

      .key {
        text-align: center;
        font-family: monospace;
      }

      .refresh {
        min-width: 1rem;
        padding-inline: 1rem;
      }
    }

    .instances {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: fit-content;
      gap: 0;
      border-radius: var(--input-border-radius);
      background-color: var(--theme-bg2);

      .empty {
        color: var(--color-fg-ink1);
        opacity: 0.7;
      }

      .instance {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        padding-block: 1ch;
        padding-inline: 1rem;

        &:hover {
          color: var(--theme-fg-accent0);
        }
      }

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      .remove {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        &:hover {
          color: var(--theme-fg-danger);
        }
      }
    }

    .description {
      font-size: 0.8rem;
      opacity: 0.7;
      margin-block: -0.5rem 0rem;
      display: flex;
      flex-direction: column;
      line-height: 1.2rem;
      cursor: default;
    }
  }
}

@layer utility {
  .grow {
    flex-grow: 1;
    max-width: 100%;
  }
}
