@layer reset, base, inputs, page, components, utility;

@layer page {
  menu {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;

    & div {
      cursor: pointer;
    }

    & div:hover {
      color: var(--theme-fg-accent0);
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    padding: 1rem;
    padding-top: 5rem;
    margin-inline: auto;
    width: 60%;
    min-width: 25rem;

    .danger-zone {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      margin: -1rem;
      background-color: var(--theme-bg5);
      color: var(--theme-fg-ink1);

      margin-bottom: 5rem;

      .description {
        margin-block: 0;
        padding-bottom: 1ch;
      }
    }

    .danger {
      align-self: center;
      cursor: pointer;
      padding-block: 1rem;
    }

    .group {
      font-size: 1.2rem;
      color: var(--theme-fg-ink1);

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }

    &>.option {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      height: 2.5rem;

      &:hover {
        color: var(--theme-fg-accent0);
      }

      label:not(.checkbox) {
        min-width: 16rem;
        user-select: none;
      }
    }

    .description {
      font-size: 0.8rem;
      opacity: 0.7;
      margin-block: -0.5rem 0.5rem;
      display: flex;
      flex-direction: column;
      line-height: 1.2rem;
    }
  }
}
