@layer reset, base, inputs, page, components, utility;

@layer reset {
  * {
    font-size: 1rem;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    box-sizing: border-box;
  }

  *::before,
  *::after {
    all: unset;
  }

  input,
  button,
  select {
    all: unset;
    font-family: inherit;
    user-select: none;
    cursor: pointer;
  }
}

@layer base {
  :root {
    font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
      "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
    font-weight: normal;
    font-size: 1rem;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Computed Theme */
    --theme-bg0: light-dark(#d5cea3, #16161d);
    --theme-bg1: light-dark(#dcd5ac, #181820);
    --theme-bg2: light-dark(#e5ddb0, #1a1a22);
    --theme-bg3: light-dark(#f2ecbc, #1f1f28);
    --theme-bg4: light-dark(#e7dba0, #2a2a37);
    --theme-bg5: light-dark(#e4d794, #363646);

    --theme-fg-i0: light-dark(#545464, #c8c093);
    --theme-fg-i1: light-dark(#43436c, #dcd7ba);
    --theme-fg-g0: light-dark(#dcd7ba, #727169);
    --theme-fg-g1: light-dark(#716e61, #717c7c);
    --theme-fg-o0: light-dark(#cc6d00, #ffa066);
    --theme-fg-o1: light-dark(#e98a00, #da8957);

    --theme-danger-bg: #43242b;
    --theme-danger-fg: #dcd7ba;
  }

  html {
    accent-color: var(--theme-fg-o0);
    background-color: var(--theme-bg0);
    color: var(--theme-fg-i0);
  }
}

@layer inputs {
  .select-wrapper {
    position: relative;
    font-size: inherit;

    &::after {
      position: absolute;
      content: "";
      z-index: 1;
      width: 0;
      height: 0;
      border-left: 0.75ch solid transparent;
      border-right: 0.75ch solid transparent;
      border-top: 1ch solid var(--theme-fg-o0);
      user-select: none;
      pointer-events: none;
      transform: translate(-200%, 150%);
    }
  }
  select {
    padding-block: 0.5ch;
    padding-inline: 1rem 3rem;
    background-color: var(--theme-bg4);
    color: var(--theme-fg-o0);
    border-radius: 0.25ch;

    &:hover,
    &:focus {
      background-color: var(--theme-bg5);
    }
  }

  label.checkbox {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.25ch;
    background-color: var(--theme-bg4);
    position: relative;
    transition: background-color 100ms linear;
    display: flex;
    justify-content: center;
    align-items: center;

    &:has(+input:checked) {
      background-color: var(--theme-fg-o0);

      &:hover {
        background-color: var(--theme-fg-o1);
      }

      svg {
        opacity: 1;
      }
    }

    &:has(+ input):hover {
      background-color: var(--theme-bg5);
    }

    svg {
      opacity: 0;
      color: var(--theme-bg4);
      transition: opacity 100ms linear;
      font-family: monospace;
    }
  }
  input[type="checkbox"].option {
    display: none;
  }

  label.sort {
    padding-inline: 1ch;
    color: var(--theme-fg-i0);
    transition: color 100ms linear;
    height: 1.5rem;

    &:hover {
      color: var(--theme-fg-o0);
    }
  }
  input[type="checkbox"].sort {
    display: none;
  }

  button,
  input[type="file"]::file-selector-button {
    outline: none;
    appearance: none;
    padding-block: 0.5ch;
    padding-inline: 2rem;
    background-color: var(--theme-bg4);
    color: var(--theme-fg-o0);
    transition:
      color 100ms linear,
      background-color 100ms linear;
    text-align: center;
    border-radius: 0.25ch;

    &:hover {
      background-color: var(--theme-bg5);
    }

    &:active {
      color: var(--theme-fg-i1);
      background-color: var(--theme-bg2);
    }
    &:disabled {
      color: var(--theme-fg-g1);
      background-color: var(--theme-bg1);
      cursor: initial;
    }
  }

  input[type="file"]::file-selector-button {
    margin-right: 1rem;
  }

  input[type="text"],
  textarea {
    outline: none;
    appearance: none;
    padding-block: 0.5ch;
    padding-inline: 1rem;
    background-color: var(--theme-bg4);
    color: var(--theme-fg-o0);
    border-radius: 0.25ch;
    cursor: text;
    transition:
      color 100ms linear,
      background-color 100ms linear;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--theme-bg5);
    }
  }

  textarea {
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;
    font-weight: normal;
    padding-inline: 0.5ch;
  }
}
