@layer reset, base, inputs, page, components, utility;

@layer reset {

  input,
  button,
  select {
    all: unset;
    font-family: inherit;
    user-select: none;
    cursor: pointer;
  }
}

@layer base {
  :root {
    font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
      "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
    font-weight: normal;
    font-size: 1rem;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --input-block-padding: 0.75ch;
    --input-inline-padding: 1rem;
    --input-border-radius: 0.25ch;
    --input-height: 1rem;
  }

  body {
    accent-color: var(--theme-fg-accent0);
    background-color: var(--theme-bg0);
    color: var(--theme-fg-ink0);
    font-size: 1rem;
  }
}

@layer inputs {
  .select-wrapper {
    position: relative;
    font-size: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-bg2);
    color: var(--theme-fg-accent0);
    border-radius: var(--input-border-radius);

    &:hover,
    &:focus {
      background-color: var(--theme-bg3);

      select {
        background-color: var(--theme-bg3);
      }
    }

    .arrow {
      pointer-events: none;
      margin-left: -2rem;
      margin-block: -1rem;
      padding: 0;
      height: 2rem;
      width: 2rem;
    }
  }

  select {
    padding-inline: var(--input-inline-padding) 3rem;
    padding-block: var(--input-block-padding);
    color: var(--theme-fg-accent0);
    background-color: var(--theme-bg2);
    border-radius: var(--input-border-radius);
    height: var(--input-height);
  }

  label.checkbox {
    height: calc(var(--input-block-padding) + var(--input-height));
    aspect-ratio: 1/1;
    border-radius: 0.25ch;
    background-color: var(--theme-bg2);
    position: relative;
    transition: background-color 100ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:has(+ input:checked) {
      background-color: var(--theme-fg-accent0);

      &:hover {
        background-color: var(--theme-fg-accent1);
      }

      svg {
        opacity: 1;
      }
    }

    &:has(+ input):hover {
      background-color: var(--theme-bg3);
    }

    svg {
      opacity: 0;
      color: var(--theme-bg2);
      transition: opacity 100ms linear;
      font-family: monospace;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  label.sort {
    padding-inline: 1ch;
    color: var(--theme-fg-ink0);
    transition: color 100ms linear;
    height: 1.5rem;
    cursor: pointer;

    &:hover {
      color: var(--theme-fg-accent0);
    }
  }

  button {
    height: var(--input-height);
  }

  button,
  input[type="file"]::file-selector-button {
    outline: none;
    appearance: none;
    padding-block: var(--input-block-padding);
    padding-inline: var(--input-inline-padding);
    background-color: var(--theme-bg2);
    color: var(--theme-fg-accent0);
    transition:
      color 100ms linear,
      background-color 100ms linear;
    text-align: center;
    border-radius: 0.25ch;
    border: none;
    font-size: 1rem;
    line-height: 1rem;


    &:hover {
      background-color: var(--theme-bg3);
    }

    &:active {
      color: var(--theme-bg3);
      background-color: var(--theme-fg-accent0);
    }

    &:disabled {
      color: var(--theme-fg-grey1);
      background-color: var(--theme-bg4);
      cursor: initial;
    }
  }

  input:hover::file-selector-button {
    background-color: var(--theme-bg3);
  }

  input[type="file"]::file-selector-button {
    margin-right: 1rem;
    font-family: inherit;
  }

  input[type="text"] {
    height: var(--input-height) !important;
    max-width: 30rem;
    font-size: 1rem !important;
  }

  input[type="text"],
  textarea {
    outline: none;
    appearance: none;
    padding-block: var(--input-block-padding) !important;
    padding-inline: var(--input-inline-padding) !important;
    background-color: var(--theme-bg2);
    color: var(--theme-fg-accent0);
    border-radius: var(--input-border-radius);
    cursor: text;
    border: none;
    transition:
      color 100ms linear,
      background-color 100ms linear;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--theme-bg3);
    }
  }

  input[readonly] {
    color: var(--theme-fg-ink1);
  }

  textarea {
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;
    font-weight: normal;
    padding-inline: 0.5ch;
  }
}

/* Chrome Fix */
body {
  font-size: inherit;
  font-family: inherit;
}
